body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-top: 70px; /* Compensa o header fixo */
  }
  
  /* Cabeçalho */
  header {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: center; /* Centraliza os itens no contêiner */
    align-items: center;
    box-shadow: 0px 4px 10px #39c202e1;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 70px;
    margin: 0 auto; /* Centraliza o conteúdo do header */
  }
  
  /* Contêiner de navegação */
  .nav-container {
    display: flex;
    justify-content: space-between; /* Logo à esquerda e menu à direita */
    align-items: center;
    max-width: 1200px; /* Define uma largura máxima para limitar o tamanho */
    margin: 0 auto;
    width: 100%; /* Garante que ocupe toda a largura */
  }
  
  /* Logo */
  .logo {
    width: 300px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
  }
  
  /* Menu */
  .menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Estilo dos itens do menu */
  .menu li {
    margin-left: 20px;
    position: relative;
  }
  
  .menu a {
    text-decoration: none;
    font-family: 'Lucida Sans', sans-serif;
    color: black;
    font-size: 20px;
    padding: 10px;
    transition: color 0.5s ease, transform 0.5s ease;
  }
  
  /* Efeito de hover no menu */
  .menu a:hover {
    color: #005f00;
    transform: scale(1.1);
  }
  
  /* Separador de itens do menu */
  .menu a:after {
    content: "|";
    position: absolute;
    right: -15px;
  }
  
  .menu li:last-child a:after {
    content: "";
  }
  
  /* Submenu */
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1200;
  }
  
  .menu li:hover .submenu {
    display: block;
  }
  
  .submenu li {
    margin-bottom: 10px;
  }
  
  .submenu a {
    font-size: 16px;
    color: #333333;
  }
  
  .submenu a:hover {
    color: #000000;
  }
  
.content
{
    margin-top: 110px;
    margin-left: 3px;
    margin-right: 3px;
    
}
.content img
{
    width: 100%;
    height: 400px;
}
h1
{
  font-size: 40px;
  color: #1c4d00;
  text-align: left;
  margin-left: 30px;
}

.texto p
{
  margin-left: 10px;
  text-align: justify;
  font-size: 20px;
  color: #000000;
  padding: 50px;
  width: 600px;
  background-color: rgba(49, 49, 49, 0.103);
  box-shadow: #333;
  border-radius: 20px;
  
}
strong
{
  color: #005f00;
  font:italic;
  font-size: 22px;
}
.gallery-item {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  margin: 0 auto; /* Centraliza o container */
  
}

.gallery-item img {
  width:17%;
  padding: 3%;
}

.lista-convenio {
  width: 80%; /* Largura da div */
  margin: 0 auto; /* Centralizar a div */
}

.lista-convenio ul {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Duas colunas de igual largura */
  gap: 20px; /* Espaçamento entre os itens */
  list-style-type: none; /* Remove o marcador da lista */
  padding: 0;
}

.lista-convenio li {
  font-size: 20px;
  color: #000000;
  padding: 2%;
  border-bottom: 1px solid #ccc;
  text-align: center; /* Adiciona uma linha de separação */
  box-sizing: border-box;
  margin-bottom: 10%
}

footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #e0e0e0;
  }


  
  footer p {
    margin: 8px 0;
  }
  
  footer nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  footer nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  footer nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  footer nav ul li a:hover {
    color: #035200;
  }
  
  footer .social-media {
    margin-top: 10px;
  }
  
  footer .social-media a {
    display: inline-block;
    margin: 0 10px;
  }
  
  footer .social-media a img {
    width: 24px;
    height: 24px;
  }